@import "~antd/dist/antd.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.layout {
  .logo {
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 24px 16px 0;
    float: left;
  }
}

  .ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
    background-color: #4787ff;
    color: #000;
    font-weight: 500;
  }

  .ant-layout-content {
    min-height: calc(100vh - 133px);
    background: #fff;
  }

  header {
    ul {
      line-height: 64px;
    }
  }

  footer {
    text-align: center;
  }

  div.movie-list {
    display: inline-block;
    flex-wrap: wrap;
    width: 250px;
    height: 400px;
    margin: 40px 30px;
    justify-content: space-between;
  }


.movie-list > div {

}
.movie-list > img {
        width: 100%;
        height: 100%;
}

.movie-title {
  margin-top:15px;
  font-size: 18px;
  font-weight: 500;
}
.movieList-wrap {
  text-align: center;
  vertical-align: top;
}